<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/favicon.ico" security="none" />
	<http pattern="/resources/**" security="none"/>
	<http use-expressions="false">
		<intercept-url pattern="/login.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="ROLE_USER" />
		<form-login login-page='/login.jsp' authentication-failure-url='/login.jsp?error=true' />
		<logout />
		<csrf disabled="true" />
	</http>

	<authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="iqiyitvgame" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>